/* 
    Created on : October 23, 2014
    Author     : Ian Smith
    Contact    : ismithorigami@gmail.com
    
    CSS file for GUI 1 files
    while helpful, I will not keep track of css lines in main code
      the numbers would change too often to keep up to date
*/


/*individual items in the assignments list*/
li {
  list-style-type: none;
  border: 2px solid;
  border-radius: 6px;
  background-color: beige;
}

.indent{
  margin-left: 10px;
}

h1.header {
  font-size: large;
}


ul{
  //display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li{
  display: inline-table;
  //width: auto;
  background-color: beige;
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 250px;
  //width: fit-content;
  //width: max-content;
  //width: min-content;
  /*
  min-width: 100px;
  max-width: 45%;
  */
}

ul li h4{
  margin: 0;
  padding: 5px;
  border-bottom: 2px solid;
  //border-width: 5px;
  //width: fit-content;
  //width: max-content;
  //width: min-content;
  //width: 200px;
  background-color: beige;
}

ul li table{
  //display: inline;
  margin: 0;
  padding: 0;
  background-color: black;
}

td{
  min-width: 30px;
  border: 5px black;
  background-color: beige;
}

form p, form{
  margin: 0;
  padding: 5px;
}

p input{
  width: 30px;
}

li table tr:first-child td, li table tr td:first-child{
  background-color: lightgray;
}

